{% extends 'accounts/base.html' %}
{% block title %}<title>Edit Profile</title>{% endblock %}
{% block content %}
    <div class="container w-50">
        <h2 class="text-center">Edit Profile</h2>
        <form class="mb-2 w-100" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container d-flex gap-3">
                <button type="submit" class="btn btn-primary rounded-pill text-light">Update Profile</button>
                <a class="btn btn-primary rounded-pill text-light"
                   href="{% url 'accounts:viewFavAuthors' %}">Edit Favorite Authors</a>
                <a class="btn btn-primary rounded-pill text-light"
                   href="{% url 'accounts:viewFavGenres' %}">Edit Favorite Genre</a>
            </div>
        </form>
        <div class="container flex justify-content-center mx-auto"></div>
    </div>
{% endblock %}
