{% extends 'accounts/base.html' %}

{% block title %}
    <title>Edit Profile</title>
{% endblock %}

{% block content %}
    <div class="Banner">
        <h1>Edit Your Profile Below</h1>
        <h2>{{ user.street_num }}</h2>
        <h2>{{ user.city }}, &nbsp;{{ user.state }}, &nbsp;{{ user.zipcode }}</h2>
    </div>

    <div id="options">
        <h3>Choose from the options below</h3>
        <div class="block-display">
            <a href="{% url 'accounts:edit_address' %}">
                <button class="button">Edit Address</button>
            </a>
            <a href="{% url 'accounts:myBookShelf' %}">
                <button class="button">Edit Password</button>
            </a>
            <a href="{% url 'accounts:viewFavBooks' %}">
                <button class="button">My Favorite Books</button>
            </a>
            <a href="{% url 'accounts:viewFavAuthors' %}">
                <button class="button">My Favorite Authors</button>
            </a>
            <a href="{% url 'accounts:viewFavGenres' %}">
                <button class="button">My Favorite Genres</button>
            </a>
        </div>


    </div>

{% endblock %}