{% extends 'accounts/base.html' %}

{% block title %}
    <title>Add A Book</title>
{% endblock %}

{% block content %}
<div class="Banner">
    <h1>Add A Book Below To Your Bookshelf</h1>
</div>


    <div id="form">
    <form method="post">
    {% csrf_token %}
        <h3>Enter the book information</h3>
        {{ addBook.as_p }}
        <h3>Enter the author information</h3>
        {{ addAuthor.as_p }}
        <h3>Enter the genre of your book</h3>
        {{ addGenre.as_p }}
        <p><input type="submit"></p>
    </form>
    </div>

{% endblock %}
