{% extends "home.html" %}
{% load static %}
{% block title %}
    <title>Welcome, {{ user.first_name }}</title>
{% endblock %}

{% block sidebar %}
    <div class="row">

        <ul id="myMenu">
            <li><a href="{% url 'library:book_list' %}">My Books</a></li>
            <li><a href="{% url 'library:create_book' %}">Add a Book</a></li>

        </ul>
    </div>
{% endblock %}

{% block content %}


    <h3>{{ user.first_name }}</h3>
    <h3>{{ user.last_name }}</h3>

    <h2>Below is your address</h2>
    <h4>{{ user.street_num }}</h4>
    <h4>{{ user.city }}</h4>
    <h4>{{ user.state }}</h4>
    <h4>{{ user.zipcode }}</h4>
{% endblock %}