<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        {% block title %}<title>Welcome, {{ user.first_name }}</title>{% endblock %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body>
{% block navigation %}

    <header>
        <a href="{% url 'accounts:customerView' %}"><h1 class="logo">Home</h1></a>
        <nav>
            <ul class="nav__links>">
                <li><a href="{% url 'accounts:myBookShelf' %}">My Bookshelf</a></li>
                <li><a href="{% url 'accounts:addBook' %}">Add a book</a></li>
                <li><a href="{% url 'accounts:editProfile' %}">My Profile</a></li>
                <li><a href="{% url 'accounts:logout' %}">Sign Out</a></li>
            </ul>
        </nav>
        <a class="cta" href="#">
            <button>Contact Us</button>
        </a>

    </header>
{% endblock %}

{% block content %}

    <div class="Banner">
        <h1>Your Next Reading Adventure Awaits...</h1>
    </div>

{% endblock %}
</body>
</html>
