{% extends 'accounts/base.html' %}


{% block title %}
    <title>My Requests</title>
{% endblock %}


{% block content %}
    <div class="Banner">
        <h1>View Your Messages Below</h1>
    </div>

    <div class="flex-container">
        <div class="flex-child options">
            <form action="#" method="get">
                <button type="submit" class="option" name="new_message" value="New Message">Compose</button>
                <br>
                <br>
                <button type="submit" class="option" name="all_messages" value="All">All</button>
                <br>
                <br>
                <button type="submit" class="option" name="sent_messages" value="Sent">Sent</button>
                <br>
                <br>
                <button type="submit" class="option" name="recieved_messages" value="Recieved">Requests</button>
            </form>
        </div>

        <div class="messages">
            <!-- Depending on the selected button we will display the messages, and if the messages count is 0, we will display an image -->
            {% if messages.count == 0 %}
                <!-- display an image all done for today -->
                <h3>Nothing to see here, click on the discover tab in order to find a new book or two.</h3>
            {% endif %}

            {% for message in messages %}

                <h3>{{ message.message }}</h3>
                {% for reply in replies %}

                    {% if reply.parent.id == message.id %}
                        <p style="margin-left: 35px;">{{ reply.message }}</p>
                        <p style="margin-left: 50px;"><i>{{ reply.name.email }}</i></p>

                    {% endif %}
                    {% endfor %}
                {% if message.sender.email == user.email %}
                    <p>Sent On: {{ message.created_on }}</p>
                    <p>Sent To: {{ message.reciever.email }}</p>
                    <!-- if the message was sent by the logged in user, display certain functions -->
                    <a href="{% url 'accounts:deleteMessages' pk=message.pk %}"
                       onclick="return confirm('Are you sure you want to delete?')"
                       class="btn btn-danger">Delete</a>

                {% else %}
                    <p>Recieved On: {{ message.created_on }}</p>
                    <p>Sent By: {{ message.sender.email }}</p>
                    <a href="{% url 'accounts:deleteMessages' pk=message.pk %}"
                       onclick="return confirm('Are you sure you want to delete?')"
                       class="btn btn-danger">Delete</a>
                    <a href="{% url 'accounts:deleteMessages' pk=message.pk %}"
                       onclick="return confirm('Are you sure you want to delete?')"
                       class="btn btn-primary">Reply</a>
                    <a class="btn btn-success" href="{% url 'library:share' %}">Share Book</a>
                    <a href="/account/viewProfile/{{ message.sender.email }}"
                       class="btn btn-primary">View Profile</a>
                    <a href="{% url 'accounts:thread'  pk=message.pk %}"
                       class="btn btn-primary">View Messages</a>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}