{% extends 'accounts/base.html' %}
{% block title %}<title>Request A Book</title>{% endblock %}
{% block content %}
    <h1 class="text-center">Please fill out the form below to request a book from {{ requestee.first_name }}</h1>
    <br>
    <div class="d-flex justify-content-center gap-5">
        <div class="w-25">
            <p class="text-center fs-4">{{ requestee.first_name }}'s Available Books</p>
            <ul class="list-group w-100">
                {% for book in books %}<li class="list-group-item">{{ book.title }}</li>{% endfor %}
            </ul>
        </div>
        <form class="form-floating hide-label d-flex flex-column justify-content-center" method="post">
            {% csrf_token %}
            {{ messageForm.as_p }}
            <input class="btn btn-primary" type="submit" value="Send">
        </form>
    </div>
{% endblock %}
